<h1>Listing weixin_images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weixin_images.each do |weixin_image| %>
      <tr>
        <td><%= weixin_image.image %></td>
        <td><%= select :customer, :weixin_id, User.all.collect { |u| [u.weixin_id, u.weixin_id] } %>
        <td><%= link_to 'Send', send_image_weixin_image_path(weixin_image, file_path: weixin_image.image.file.file, weixin_id: @customer.weixin_id), method: :post %></td>
        <td><%= link_to 'Show', weixin_image %></td>
        <td><%= link_to 'Edit', edit_weixin_image_path(weixin_image) %></td>
        <td><%= link_to 'Destroy', weixin_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weixin image', new_weixin_image_path %>
