<p id="notice"><%= notice %></p>

<p>
  <strong>WeiXin Id:</strong>
  <%= @user.weixin_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= form_for @user, url: {action: "text"}, method: :post, html: { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag(:q) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
